*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 3vh;
}

body {
    font-family: sans-serif;
}

/* --- */

#container {
    height: 100vh;

    background-color: darkgray;
    background-image: linear-gradient(rgb(245, 232, 232), rgb(231, 30, 30));

}

/* --- */

main {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;

    color: burlywood;
    color: indianred;
    font-size: 2.4rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

